.song-container {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    align-self: stretch;
}

.song-cover {
    width: 64px;
    height: 64px;
}

.song-metadata {
    display: flex;
    gap: 0.3rem;    
    flex-direction: column;
    font-family: Sunflower, sans-serif;
}

.song-info {
    margin: 0;
    line-height: 0.85rem;
    font-size: 0.95rem;
    text-align: left;
    color: white;
    text-wrap: nowrap;
}

.song-album {
    font-size: 0.65rem;
    color: #d7d7d7;
    text-transform: uppercase;
}

.song-name {
    text-align: left;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.song-artists{
    font-size: 0.7rem;
    color: #ffffff;
}