.playlist {
    display: flex;
    flex-direction: column;
}

.playlist-header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.playlist-heading {
    color: white;
}

.playlist-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.playlist-footer {
    background-color: black;
    border-radius: 0px 0px 15px 15px;
    padding: 35px 35px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.playlist-title {
    margin: 0;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -0.25rem;
}

.playlist-desc {
    margin: 0;
    font-size: 0.9rem;
    color: white;
}

.playlist-cursor {
    position: absolute;
    left: 98%;
    top: 25px
}