.marquee {
    position: relative;
    height: 100vw;
    max-height: 100%;
}
  
.marquee-content {
    display: flex;
    gap: 100px;
}
  
.carousel-songs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.marquee-caption {
    margin-top: -10px;
    margin-bottom: 150px;
}