:root {
  font-family: Montserrat, system-ui, sans-serif;
  font-size: 18px;
  line-height: auto;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: -0.2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.1rem;
}

p {
  text-align: justify;
  line-height: 1.4rem;
}
p strong {
  font-weight: 600;
}

.black {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -0.25rem;
}

.caption {
  color: #5B5B5B;
  font-family: Sunflower;
  font-size: rem;
  font-weight: 300;
}